@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

main {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

#home_section {
  background-image: url('/Flat color Modern Isometric Illustration design - Teamwork.svg');
  background-repeat: no-repeat;
  background-size: 500px auto;
  background-position: 20% 60%;
}

.slider {
  position: relative;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.image {
  width: 400px;
  height: 200px;
  border-radius: 10px;
  margin: 30px;
}

.right-arrow {
  position: absolute;
  top: 15%;
  right: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}