@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;600;700&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

main {
  height: 100%;
}

ul li {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}


.p-lead {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}

.p-regular {
  font-size: 14px;
  font-weight: 200;
  line-height: 24px;
}

.bold {
  font-weight: 700;
}

.semi-bold {
  font-weight: 600;
}

.regular {
  font-weight: 400;
}


h1 {
  font-size: 72px;
  line-height: 96px;
}


h2 {
  font-size: 64px;
  line-height: 88px;
}

h3 {
  font-size: 48px;
  line-height: 64px;
}

h4 {
  font-size: 32px;
  line-height: 48px;
}

h5 {
  font-size: 24px;
  line-height: 32px;
}

h6 {
  font-size: 16px;
  line-height: 24px;
}

* {
  box-sizing: border-box;
}


.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.home-container {
    min-height: 100%;
}

.content-sidebar {
    background-color: #343a40;
    min-height: 100vh;
}

.side-navigation-tab {
    cursor: pointer;
}

.parent-animation {
  background: transparent;
  perspective: 500px;
}

.transform-left-right {
  animation: left-right 2s ease 0s 1 normal forwards;
}

.transform-left-right-reverse {
  animation: left-right-reverse 2s ease 0s 1 normal forwards;
}

.transform-right-left {
  animation: right-left 2s ease 0s 1 normal forwards;
}

.transform-right-left-reverse {
  animation: right-left-reverse 2s ease 0s 1 normal forwards;
}

@keyframes left-right {
  from {
   transform:translate(-100%, 0)
  }
  to {
   transform:translate(0, 0)
  }
 }

 @keyframes left-right-reverse {
  from {
   transform:translate(0, 0)
  }
  to {
   transform:translate(-100%, 0)
  }
 }

@keyframes right-left {
  from {
   transform:translate(50%, 0)
  }
  to {
   transform:translate(0, 0)
  }
 }

 @keyframes right-left-reverse {
  from {
   transform:translate(50%, 0)
  }
  to {
   transform:translate(-50%, 0)
  }
 }
 
 @media only screen and (max-width: 1000px) {
     #navbar-social-media {
         flex-direction: row;
         align-items: center;
         justify-content: center;
     }
 }

 @media only screen and (max-width : 768px) {
  * {
      /*CSS transitions*/
      -o-transition-property: none !important;
      -moz-transition-property: none !important;
      -ms-transition-property: none !important;
      -webkit-transition-property: none !important;
      transition-property: none !important;
      /*CSS transforms*/
      -o-transform: none !important;
      -moz-transform: none !important;
      -ms-transform: none !important;
      -webkit-transform: none !important;
      transform: none !important;
      /*CSS animations*/
      -webkit-animation: none !important;
      -moz-animation: none !important;
      -o-animation: none !important;
      -ms-animation: none !important;
      animation: none !important;
  }
} 